header {
    border-bottom: 2px solid #8a6666;
    box-shadow: 2px 1px 3px #ccc;
    width: 100%;


    // affichage pour les ecrans inferieur à 391px
    @media screen and (max-width: 390px) {
        box-shadow: none;
        position: sticky;
        top: 0;
        z-index: 5;
        background: orange;
        padding-left: 13.5px;
    }

    .container__nav {
        margin: 0 25px;
        width: 100%;


        nav {
            display: flex;
            justify-content: space-between;
            padding: 15px;
            text-transform: capitalize;
            font-weight: bold;


            //Logo de la l'application
            .navbar-brand {
                cursor: pointer;

                img {
                    position: relative;
                    top: 10px;
                }
            }

            .pokeball img {
                width: 36px;
                cursor: pointer;
                position: relative;
                left: -30px;

        // affichage pour les ecrans inferieur à 391px
                @media screen and (max-width: 390px) {
                    position: relative;
                    left: -75%;
                }

                &:hover {
                    animation: rotation 1s linear;
                }

            }

            span {
                position: relative;
                top: -14px;
                left: -25px;
                color: #fff
            }
        }

    }
}



// animation de rotation de la PokeBall
@keyframes rotation {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}