.container__details {

    .row {
        padding: 0 7em;
        display        : flex;
        flex-direction : row;
        justify-content: space-between;
        margin         : 0 10em;

        .pokemon_img img{
            width: 400px;
        }

        .pokemon_desc {

            width: 250px;

            .stat__container {


                table {
                    display       : flex;
                    flex-direction: row;

                    thead >tr,
                    tbody >tr {

                        display       : flex;
                        flex-direction: column;
                        width         : 150px;
                        font-weight   : bold;
                        text-transform: capitalize;
                        line-height   : 2;


                    }

                }

                .table-1 {

                    thead {
                        background: #ccc;
                        text-align: center;
                    }

                    tbody {
                        background: rgb(165, 146, 146);
                        text-align: left;
                    }
                }

                .table-2 {

                    color      : #fff;
                    font-weight: bold;
                    margin-top : 2rem;

                    thead {
                        background: grey;
                        text-align: center;

                        th {
                            border-bottom: 2px solid #fff;
                        }

                    }

                    tbody {
                        background: grey;
                        text-align: center;

                        td {
                            border-bottom: 2px solid #fff;
                        }
                    }
                }


            }

        }

    }
}