.container__details {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: 80%;
    -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000, 5px 5px 15px 8px rgba(255, 0, 0, 0.24);
    box-shadow: -10px 0px 13px -7px transparent, 10px 0px 13px -7px #000000, 5px 5px 15px 8px rgba(255, 0, 0, 0.24);

    .row {
        //padding: 0 2em;
        display: flex;
        flex-wrap: wrap;


        .pokemon_img img {
            position: relative;
            top: 5em;
            right: 10em;
            width: 400px;
            z-index: -1;

            @media screen and (max-width: 790px) {
                left: 5em!important;
                right: 0;
                width: 250px;
                padding-bottom: 10em;
            }
           
        }

        .evolution{
            position: relative;
            top: 7rem;
            right: 50%;

            @media screen and (max-width: 790px) {
                top: 0;
                left: 5em;
                right: 0;
                width: 250px;
               
               
            }
            @media screen and (max-width: 1011px) {
                //top: 0;
                left: 4em;
                right: 0;
              //  width: 250px;
               
               
            }


            &__container{
                display: flex;
                position: inherit;
                justify-content: space-between;
                text-align: center;
                right: 6em;

                @media screen and (max-width: 790px) {
                    top: 0;
                    left: -50px;
                    right: 0;
                    
                   
                }
    

            }

        }

        .name {
            font-size: 2.5em;
            text-transform: uppercase;
            letter-spacing: 1px;
            position: absolute;
            left: 10%;
        }

        .pokemon_desc {

            width: 250px;
            position: relative;
            // left: 20%;
            //margin: auto;

            @media screen and (max-width: 790px) {
               //justify-content: center;
               align-items: center;
               display: flex;
               flex-direction: column;
               margin: 0 auto
            }

            .pokemon__container {
                color: #fff;
                padding: 1px;
                width: 100%;
                border-radius: 5px;
                background: orange;
                background: linear-gradient(129deg, rgba(255, 235, 0, 1) 20%, rgba(2, 0, 36, 1) 45%);
            }

            .statistique h3 {
                font-size: 1.7em;
                font-weight: bold;
                text-transform: uppercase;
                letter-spacing: 1px;
                text-align: center;
            }

            .stat__container {
                justify-content: center;
                align-items: center;


                table,
                .table-1 {
                    display: flex;
                    flex-direction: row;


                    thead>tr,
                    tbody>tr {

                        display: flex;
                        flex-direction: column;
                        width: 150px;
                        font-weight: bold;
                        text-transform: capitalize;

                        line-height: 2;


                    }

                }

                .table-1 {

                    width: 18.7em;

                    .head {
                        background: #ccc;
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        font-size: 18px;
                        width: 100%;
                        font-weight: bold;
                        color: #000;
                        line-height: 2em;
                    }

                    .body {
                        background: rgb(165, 146, 146);
                        text-align: left;
                        display: flex;
                        flex-direction: column;
                        font-size: 18px;
                        text-align: center;
                        width: 100%;
                        font-weight: bold;
                        color: #000;
                        line-height: 2em;

                        .type {
                            display: flex;
                            justify-content: space-around;
                        }
                    }
                }

                .table-2 {

                    color: #fff;
                    font-weight: bold;
                    margin-top: 2rem;

                    thead {
                        background: grey;
                        text-align: center;

                        th {
                            border-bottom: 2px solid #fff;
                        }

                    }

                    tbody {
                        background: grey;
                        text-align: center;

                        td {
                            border-bottom: 2px solid #fff;
                        }
                    }
                }


            }

        }

    }
}

.container__details {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
}