body{
    padding: 0;
    margin: 0;
    text-decoration: none;
    outline: none;
    overflow-x: hidden;

    background: #f12711; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #f12711, #f5af19); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #f12711, #f5af19); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

a{
    text-decoration: none;
}